/* line 5, SelectGrid.scss */
.select-grid-counter {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 130px;
}
/* line 12, SelectGrid.scss */
.select-grid-counter span {
  font-size: 48px;
}

/* line 17, SelectGrid.scss */
.select-grid {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid #93908f;
  margin-top: 80px;
  overflow: hidden;
  padding-right: 2px;
  padding-bottom: 2px;
  width: 708px;
}
/* line 41, SelectGrid.scss */
.select-grid .voucher-control {
  background: #eaeaea;
  margin-top: 2px;
  margin-left: 2px;
  overflow: hidden;
  padding-left: 13px;
}
/* line 53, SelectGrid.scss */
.select-grid .voucher-header {
  margin: 0;
  padding: 0;
}
/* line 58, SelectGrid.scss */
.select-grid .vouchers-in-order {
  margin: 0;
}
/* line 62, SelectGrid.scss */
.select-grid .voucher-line {
  margin: 10px 5px;
}
/* line 66, SelectGrid.scss */
.select-grid .select-grid-item {
  border: 1px solid #93908f;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 150px;
  margin-top: 2px;
  margin-left: 2px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 163px;
}
/* line 85, SelectGrid.scss */
.select-grid .select-grid-item .icon {
  cursor: pointer;
  display: none;
  left: -5px;
  padding: 5px;
  position: absolute;
  top: -5px;
}
/* line 96, SelectGrid.scss */
.select-grid .select-grid-description {
  display: block;
  font-weight: bold;
  margin-top: 63px;
}
/* line 102, SelectGrid.scss */
.select-grid .select-grid-value {
  display: block;
}
/* line 106, SelectGrid.scss */
.select-grid select {
  display: none;
  margin: 40px auto 0 auto;
  width: 70%;
}
/* line 112, SelectGrid.scss */
.select-grid .select-grid-footer {
  bottom: 5px;
  font-weight: bold;
  left: 5px;
  line-height: 15px;
  position: absolute;
  right: 5px;
  text-align: right;
}
/* line 122, SelectGrid.scss */
.select-grid .select-grid-total {
  font-weight: normal;
  margin-left: 5px;
}
/* line 128, SelectGrid.scss */
.select-grid .select-grid-active .select-grid-description, .select-grid .select-grid-selected .select-grid-description {
  margin-top: 0;
}
/* line 133, SelectGrid.scss */
.select-grid .select-grid-active {
  border-color: #35a0a8;
}
/* line 136, SelectGrid.scss */
.select-grid .select-grid-active .select-grid-description, .select-grid .select-grid-active .select-grid-value, .select-grid .select-grid-active .select-grid-count {
  color: #35a0a8;
}
/* line 140, SelectGrid.scss */
.select-grid .select-grid-active .icon {
  background-image: url("../Images/QuickTickets/Icon_Clear_Hover.png");
  display: inline-block;
}
/* line 146, SelectGrid.scss */
.select-grid .select-grid-selected {
  color: #eaeaea;
  cursor: default;
  background: #35a0a8;
}
/* line 151, SelectGrid.scss */
.select-grid .select-grid-selected .icon {
  background-image: url("../Images/Icon_Clear_Light.png");
  display: inline-block;
}
/* line 157, SelectGrid.scss */
.select-grid .select-grid-selector {
  -webkit-box-shadow: 0 0 3px black;
  -moz-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
  background: white;
  color: #666666;
  font-size: 16px;
  line-height: 2;
  margin: 20px auto 0 auto;
  text-align: center;
  width: 99%;
}
/* line 168, SelectGrid.scss */
.select-grid .select-grid-selector span {
  display: inline-block;
  width: 20%;
}
/* line 172, SelectGrid.scss */
.select-grid .select-grid-selector span:not(.disabled) {
  cursor: pointer;
}
/* line 175, SelectGrid.scss */
.select-grid .select-grid-selector span:not(.disabled):hover {
  background: #eaeaea;
}
/* line 182, SelectGrid.scss */
.select-grid .select-grid-count {
  font-size: 72px;
  margin-top: 10px;
}